h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.entry-title {
	font-size: 40px;
	margin: 20px 0 20px 0;
	color: $color-red;

	@media screen and (min-width: $tabwidth) {

	}

	@media screen and (min-width: $deskwidth) {

	}
}