
div {
	/* These are technically the same, but use both */
	// overflow-wrap: break-word;
	// word-wrap: break-word;

	// -ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	// word-break: break-all;
	/* Instead use this non-standard one: */
	// word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
.nav-wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		padding: 0;
	}
	@media screen and (min-width: $deskwidth) {
		width: 90%;
		padding: 0px;
	}
}
.page-title {
	width: 100%;
	float: left;
	padding: 20px 0;
	// background-color: #eee;
	margin: 0 0 30px 0;
	border-top: 2px solid $color-red;
	// border-bottom: 2px solid $color-red;
	background: {
		// image: url(images/grad.png);
		// repeat: no-repeat;
		// position: left 0 top 0;
		// size: cover;
		color: rgba(#000, .05);
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
#page-contents {
	margin: 0px 0 0 0;
	min-height: 600px;
	width: 100%;
	float: left;
}
/* Logo */
.logo , h1.logo {
	width: 230px;
	height: 97px;
	background: {
		image: url(images/logo-new.png);	
		repeat: no-repeat;
		size: cover;
	}
	margin: 10px auto;

	@media screen and (min-width: $smallwidth) {
		width: 230px;
		height: 97px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 230px;
	height: 97px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 230px;
		height: 97px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
header.site-header {
	width: 100%;
	padding: 20px 0 0 0;
	float: left;
}
.header-right {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		// width: 60%;
	}
	@media screen and (min-width: $smallwidth) {
		width: 70%;
		float: right;
		margin: 0px 0 0 0;
	}
	
	@media screen and (min-width: $deskwidth) {
		// width: 80%;
	}
	.site-desc {
		padding: 30px 0;
		color: $color-red;
		font-size: 20px;
		text-align: center;
		@media screen and (min-width: $smallwidth) {
			padding: 0;
			text-align: right;
		}

	}
}
.small-wrapper {
	width: 80%;
	margin: 0 auto;
}
.red {color: $color-red;}
footer.site-footer {
	width: 100%;
	clear: both;
	background-color: #000;
	padding: 20px 0;
	color: rgba(255,255,255,1);

	a {
		color: rgba(255,255,255,1);
		text-decoration: none;
		@include transition(all .3s ease);

		&:hover {
			color: rgba(255,255,255,.5);
		}
	}
	.site-info {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		font-size: 18px;
	}
	section.creds {
		width: 100%;
		clear: both;
		margin: 10px auto 20px auto;
		overflow: hidden;
		font-size: 12px;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			float: right;
			margin: 0;
			text-align: right;
		}
	}
}
.red-button {
	width: auto;
	display: inline-block;
	line-height: 1;
	font-size: 18px;
	a {
		background-color: rgba($color-red, 1);
		color: #fff;
		padding: 15px 25px;
		display: block;
		text-decoration: none;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba($color-red, .5);
		}
	}
}
.right-page {
	width: 100%;
	float: right;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
	}
}
.left-page {
	width: 100%;
	float: left;
	@media screen and (min-width: $tabwidth) {
		width: 45%;
	}
}
.side-video {
	width: 100%;
	margin: 5px 0;
	position: relative;
	clear: both;
}