.mobile-center {
	text-align: center;
}
.main-navigation {
	clear: both;
	display: block;
	
	width: 100%;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		width: auto;
		display: inline-block;
		clear: none;
		margin: 20px auto 0 auto;
	}
	@media screen and (min-width: $smallwidth) {
		float: right;
		text-align: right;
		margin: 20px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {

	}

	ul {
		list-style: none;
		display: none;
		margin: 0;
		padding-left: 0;
		background-color: #eee;
		overflow: hidden;
		@media screen and (min-width: $tabwidth) {
			background-color: rgba(0,0,0,0);
			float: left;
			overflow: visible;
		}

		ul {
			
			

			@media screen and (min-width: $tabwidth) {
				background-color: $color-red;
				float: left;
				position: absolute;
				top: 3em;
				left: -999em;
				z-index: 99999;
				border: 1px solid $color-red;
			}

			ul {
				left: -999em;
				top: 0;

			}

			li {
				
				line-height: 1.5;
				margin: 0 0 5px 0;
				font-size: 14px;
				border-bottom: 0;

				@media screen and (min-width: $tabwidth) {
					font-size: 16px;
					text-align: left;
					margin: 0;
				}

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@media screen and (min-width: $tabwidth) {
					width: 250px;
					padding: 10px 10px ;
					color: #fff;
				}
				
			}

			:hover > a,
			.focus > a {
				color: $color-red;
				background-color: #fff;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		width: 100%;
		margin: 0px 0;
		line-height: 3;
		border-bottom: 3px solid #fff;
		font: {
			family: $font__heading;
			size: 20px;
			weight: bold;
		}
		@media screen and (min-width: $tabwidth) {
			width: auto;
			margin: 0 0 0 20px;
			font-size: 18px;
			border-bottom: 0;
		}
		@media screen and (min-width: $deskwidth) {
			font-size: 18px;
		}

		&:hover > a,
		&.focus > a {
			color: $color-red;
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: #000;
		text-decoration: none;
		@include transition(all .3s ease);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}


@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color: #000;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 20px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
